.fade {
  margin: auto;
  position: relative;
}
.fade img {
  width: 100%;
  height: auto;
  display: block;
}
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}
.slick-dots li {
  display: inline-block;
  margin: 0 225px;
}
.slick-dots li button:before {
  font-size: 12px;
  opacity: 0.75;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 1;
}
